@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "Urbanist" , sans-serif , "Mona Sans" ;
}

body {
  overflow-x: hidden;
}

:root {
  --primary-color: #fff;
  --secondary-color: #f0f0f0;
  --card-color : #ebebeb;
  --text-color: #333;
}

.dark-mode {
  --primary-color: #212529;
  --secondary-color: #1f1d1d;
  --card-color : #242529;
  --text-color: #f0f0f0;
}


#body {
  background-color: var(--primary-color);
}

/* navbar */
/* style.css */
nav {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: #000;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  margin-left: 3rem;
}

.logo a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin-right: 24px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: var(--text-color);
}

/* search input *//* From Uiverse.io by LightAndy1 */ 
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
  margin-right: 4rem;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: var(--primary-color);
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: var(--text-color);
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: var(--text-color);
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .nav-links {
      position: absolute;
      background-color: #333;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
  }

  .nav-links.active {
      height: 200px;
  }

  .nav-links li {
      text-align: center;
      padding: 15px;
  }

  .burger {
      display: block;
  }
}




.container-detail {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.total-buku {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.total-buku span {
  font-weight: 500;
}

.loader {
  display: none;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper {
  margin: 3rem 4rem;
  display: block;
}

.books-container{
    display: grid !important;
    grid-template-columns:  repeat(6, 250px ) !important;
    gap: 3rem;
}

.cards-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.books-container img {
  height: 100%;
  max-height: 250px;
}

.file {
    border: 1px solid #000 !important;
    border-radius: 2rem;
    width: 120px;
    height: 30px;
    background-color: 	#A9A9A9;
}

.file p {
    text-align: center;
}
.file:hover {
    background-color: #D3D3D3;
    cursor: pointer;
}

.book-description {
  width: 450px;
}

.container-detail {
  margin: 3rem 5rem;
}

.route {
  color: #A9A9A9 !important;
  text-decoration: none;
}

.container-detail img {
  margin-right: 5rem;
  height: 400px;
}

.book-info {
  margin-left: 3rem;
  color: var(--text-color);
}

.detail-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--text-color);
}

.child {
  margin-top: -12px;
}

.download {
  color: #000;
  text-decoration: none;
}

.parent {
  color: #858080;
}



/* From Uiverse.io by andrew-demchenk0 */ 
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}
/* From Uiverse.io by EmmaxPlay */ 
.cards {
  width: 200px;
  height: 450px;
  margin: 0 auto;
  background-color: var(--card-color);
  border-radius: 8px;
  z-index: 1;
 }
 
 .card-img-top {
   width : 190px;
   height : 200px;
 }
 .tools {
  display: flex;
  align-items: center;
  padding: 9px;
 }
 
 .circle {
  padding: 0 4px;
 }
 
 .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
 }
 
 .red {
  background-color: #ff605c;
 }
 
 .yellow {
  background-color: #ffbd44;
 }
 
 .green {
  background-color: #00ca4e;
 }


.error {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-header {
  font-size: 100px;
  color: #333;
}

.p {
  font-size: 24px;
  color: #666;
}

.error a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.form-control {
  background-color: #000;
}

.card__content h5 , .card__content p {
  color: var(--text-color);
}




 /* media query for laptop */
 @media only screen and (max-width: 1400px) {
  .books-container {
    grid-template-columns: repeat(5, 150px ) !important;
  }

  .book-description p {
    width: 300px;
    text-align: justify;
  }
}

 /* media query for tablet */
 @media only screen and (max-width: 1280px) {
  .books-container {
    grid-template-columns: repeat(5, 150px )!important;
    gap: 5rem;
  }

  .book-description p {
    width: 250px;
    text-align: justify;
  }
}

